{% load static %}
<table id="task_tbl" class="table table-bordered" style="width:100%">
    <thead>
        <tr>
            <th style="width: 45%;" data-orderable="false">Task Reference</th>
            <th style="width: 10%;">Status</th>
            <th style="width: 15%;">Started</th>
            <th style="width: 30%;">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            <td>{{job.task_name}}
                {% if job.task_name %}
                -
                {% endif %}
                {% if job.uid %}
                {{job.uid}}
                {% endif %}
            </td>
            <td>{{job.status.value}}</td>
            <td>{{job.start_date | date:"Y-m-d H:m:s" }}</td>
            <td>
                {% if job.status.value == "FINISHED" %}
                <button class="btn btn-outline-success download-job" job-id="{{job.id}}" title="Download"
                    style="padding: 0px 10px; min-width: 20px; border-radius: 5px;">
                    <i class="fa fa-arrow-circle-down"></i> Download
                </button>
                <a class="btn btn-outline-primary view-job" role="button" job-id="{{job.id}}" title="View"
                    href="/job/{{job.id}}/view" style="padding: 0px 10px; min-width: 20px; border-radius: 5px;">
                    <i class="fa fa-eye"></i>View
                </a>
                {% endif %}
                <button class="btn btn-outline-danger delete-job" role="button" job-id="{{job.id}}" title="Delete"
                    style="padding: 0px 10px; min-width: 20px; border-radius: 5px;">
                    <i class="fa fa-trash delete-job"></i> Delete
                </button>


            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $("#task_tbl").DataTable();

        $('#task_tbl').on('click', 'button.download-job', function (e) {
            let uid = $(this).attr("job-id");
            $.get({
                url: "/ajax/download/" + uid,
                success: function (response) {
                    const link = document.createElement("a");
                    link.href = response.url;
                    link.download = response.fname;
                    link.click();
                    delete link;
                },
                error: function (response) {
                    showMessage(response.responseJSON.msg, "danger");
                }
            });
        });

        $('#task_tbl').on('click', 'button.cancel-job', function (e) {
            let uid = $(this).attr("job-id");
            $.get({
                url: "/ajax/cancel/" + uid,
                success: function (response) {
                    $("#tasks_panel").empty();
                    $("#tasks_panel").append(response);

                },
            });
        });

        $('#task_tbl').on('click', 'button.delete-job', function (e) {
            let uid = $(this).attr("job-id");
            $.get({
                url: "/ajax/delete/" + uid,
                success: function (response) {
                    $("#tasks_panel").empty();
                    $("#tasks_panel").append(response);

                },
                error: function (response) {
                    showMessage(response.responseJSON.msg, "danger");
                }
            });
        });

        $('#task_tbl').on('click', 'input.chkbox-add-to-map', function (e) {
            let uid = $(this).attr("job-id");
            console.log(uid);
            let formData = new FormData();
            formData.append("csrfmiddlewaretoken", "{{csrf_token}}");
            formData.append("uid", uid);
            formData.append("checked", $(this).val() == "Yes" ? 1 : 0);
            $.ajax({
                url: "/ajax/add_layer",
                type: "POST",
                dataType: "json",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    showMessage(response.msg, "success");
                },
                error: function (response) {
                    showMessage(response.responseJSON.msg, "danger");
                }
            });
        });
    });
</script>