{% load static %}

<thead>
    <tr>
        <th data-orderable="false">Task Reference</th>
        <th>Status</th>
        <th>Started</th>
        <th>Actions</th>
    </tr>
</thead>
<tbody>
    {% for job in jobs %}
    <tr>
        <td>{{job.task_name}}
            {% if job.task_name %}
            -
            {% endif %}
            {% if job.uid %}
            {{job.uid}}
            {% endif %}
        </td>
        <td>{{job.status.value}}</td>
        <td>{{job.start_date | date:"Y-m-d H:m:s" }}</td>
        <td>
            {% if job.status.value == "FINISHED" %}
            <button class="btn btn-danger download-job" job-id="{{job.id}}" title="Download"
                style="margin-right: 5px; line-height: 2px; min-width: 10px; width: 20px; height: 20px; padding: 2px; border-radius: 5px;">
                <i class="fa fa-arrow-circle-down"></i>
            </button>
            <a class="btn btn-outline-primary view-job" role="button" job-id="{{job.id}}" title="View"
                href="/job/{{job.id}}/view"
                style="margin-right: 5px; line-height: 2px; min-width: 10px; width: 24px; height: 20px; padding: 2px; border-radius: 5px;">
                <i class="fa fa-eye"></i>
            </a>
            {% endif %}

            {% if job.status.value == "RUNNING" or job.status.value == "READY" %}
            <button class="btn btn-danger cancel-job" role="button" job-id="{{job.id}}" title="Cancel"
                style="margin-right: 5px;line-height: 2px; min-width: 10px; width: 20px; height: 20px; padding: 2px; border-radius: 5px;">
                <i class="fa fa-ban"></i>
            </button>
            {% endif %}
            <button class="btn btn-outline-danger delete-job" role="button" job-id="{{job.id}}" title="Delete"
                style="line-height: 2px; min-width: 10px; width: 20px; height: 20px; padding: 2px; border-radius: 5px;">
                <i class="fa fa-remove delete-job"></i>
            </button>
        </td>
    </tr>
    {% endfor %}
</tbody>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#task_tbl').on('click', 'button.download-job', function (e) {
            let uid = $(this).attr("job-id");
            $.get({
                url: "/ajax/download/" + uid,
                success: function (response) {
                    const link = document.createElement("a");
                    link.href = response.url;
                    link.download = response.fname;
                    link.click();
                    delete link;
                },
                error: function (response) {
                    showMessage(response.responseJSON.msg, 5000);
                }
            });
        });

        $('#task_tbl').on('click', 'button.cancel-job', function (e) {
            let uid = $(this).attr("job-id");
            $.get({
                url: "/ajax/cancel/" + uid,
                success: function (response) {
                    $("#task_tbl").empty();
                    $("#task_tbl").append(response);
                },
            });
        });

        $('#task_tbl').on('click', 'button.delete-job', function (e) {
            let uid = $(this).attr("job-id");
            $.get({
                url: "/ajax/delete/" + uid,
                success: function (response) {
                    $("#task_tbl").empty();
                    $("#task_tbl").append(response);
                },
                error: function (response) {
                    showMessage(response.responseJSON.msg, 2000);
                }
            });
        });


    });

</script>