<div class="modal fade" id="aggregationDefinitionModal" tabindex="-1" aria-labelledby="title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">Setup aggregation of land cover data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="aggregation_tbl_panel">
                    {{agg_table | safe}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id="btn_reset_aggregation">Reset</button>
                <button type="button" class="btn btn-outline-success" id="btn_save_aggregation">Save</button>
            </div>
        </div>
    </div>
</div>