{% extends 'base.html' %}

{% block title %}Trends.Earth{% endblock %}

{% load static %}

{% block content %}
<style>
    .admin-algo-tbl {
        border-color: unset !important;
        border-style: none;
        border-width: 0px !important;
        margin-bottom: 0px !important;
        width: 70%;
        border-collapse: collapse;
    }

    .admin-algo-tbl td {
        padding: 5px 10px !important;
        border-bottom: none !important;
    }

    .admin-algo-tbl tr {
        padding: 0px 3px;
    }

    .admin-algo-tbl tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<div id="breadcrumbs" class="d-print-none">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb border-bottom">
            <li class="breadcrumb-item">
                <a href="/"><i class="fa fa-home"></i></a>
            </li>
            <li class="breadcrumb-item active">Admin</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-user-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-user" type="button" role="tab" aria-controls="nav-user"
                            aria-selected="true">
                            <i class="fa fa-users"></i> Users
                        </button>
                        <button class="nav-link" id="nav-job-tab" data-bs-toggle="tab" data-bs-target="#nav-job"
                            type="button" role="tab" aria-controls="nav-job" aria-selected="false">
                            <i class="fa fa-list"></i>
                            Jobs</button>
                        <button class="nav-link" id="nav-algo-tab" data-bs-toggle="tab" data-bs-target="#nav-algo"
                            type="button" role="tab" aria-controls="nav-algo" aria-selected="false">
                            <i class="fa fa-cog"></i>
                            Algorithms</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade border show active" id="nav-user" role="tabpanel"
                        aria-labelledby="nav-user-tab" style="padding: 10px;">
                        {% include 'account/list_users.html' %}
                    </div>
                    <div class="tab-pane fade border" id="nav-job" role="tabpanel" aria-labelledby="nav-job-tab"
                        style="padding-top: 10px;">

                        {% include 'account/list_jobs.html' %}
                    </div>
                    <div class="tab-pane fade border" id="nav-algo" role="tabpanel" aria-labelledby="nav-algo-tab"
                        style="padding: 10px;">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Algorithm name</label>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Run mode</label>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Version</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        {% for algo in algorithms %}
                        {% if algo.children %}
                        <div class="row border">
                            <div class="col-md-12">
                                <div class="form-check">
                                    <input class="form-check-input algorithm-check" type="checkbox" typeof="algorithm"
                                        id="id-{{algo.id}}" {% if not algo.deleted %} checked {% endif %}>
                                    <label class="form-check-label" for="id-{{algo.id}}">
                                        {{algo.name}}
                                        {% if algo.name_details %} -
                                        {{algo.name_details}} {% endif %}
                                    </label>
                                </div>
                                {% for child in algo.children %}
                                <div class="row border">
                                    <div class="col-md-12">
                                        <div class="form-check">
                                            <input class="form-check-input algorithm-check" type="checkbox"
                                                typeof="algorithm" id="id-{{child.id}}" {% if not child.deleted %}
                                                checked {% endif %}>
                                            <label class="form-check-label" for="id-{{child.id}}">
                                                {{child.name}}
                                                {% if child.name_details %} -
                                                {{child.name_details}} {% endif %}
                                            </label>
                                        </div>
                                        {% for item in child.id|get_children %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <span>{{item.name}}</span>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    {% for script in item.script.all %}
                                                    <div class="col-sm-6">
                                                        <div class="form-check">
                                                            <input {% if not script.deleted %} checked {% endif %}
                                                                class="form-check-input algorithm-check" type="checkbox"
                                                                typeof="script" id="id-{{script.id}}">
                                                            <label class="form-check-label" for="flexCheckChecked">
                                                                {{script.run_mode}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input class="form-control" value="{{script.version}}"
                                                            type="text" id="version-{{script.id}}">
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% else %}
                        <div class="row border">
                            <div class="col-md-12">
                                <div class="form-check">
                                    <input class="form-check-input algorithm-check" type="checkbox" typeof="algorithm"
                                        id="id-{{algo.id}}" {% if not algo.deleted %} checked {% endif %}>
                                    <label class="form-check-label" for="id-{{algo.id}}">
                                        {{algo.name}}
                                        {% if algo.name_details %} -
                                        {{algo.name_details}} {% endif %}
                                    </label>
                                </div>
                                {% for child in algo.id|get_children %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <span>{{child.name}}</span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            {% for script in child.script.all %}
                                            <div class="col-md-6">
                                                <div class="form-check">
                                                    <input {% if not script.deleted %} checked {% endif %}
                                                        class="form-check-input algorithm-check" type="checkbox"
                                                        typeof="script" id="id-{{script.id}}">
                                                    <label class="form-check-label" for="id-{{script.id}}">
                                                        {{script.run_mode}}
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <input class="form-control" type="text" value="{{script.version}}"
                                                    id="version-{{script.id}}">
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <button class="btn btn-danger" style="border-radius: 5px;" id="btn_save_settings">SAVE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'dialogs/confirm_dialog.html' %}

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script>
    $(document).ready(function () {


        $("#btn_save_settings").on("click", function () {
            var algorithms = [];
            $(".algorithm-check").each(function () {
                var id = +$(this).attr("id").split("-")[1];
                algorithms.push({
                    id: id,
                    checked: $(this).is(":checked"),
                    typeof: $(this).attr("typeof"),
                    version: $("#version-" + id).val()
                });
            });
            let formData = new FormData();
            formData.append("csrfmiddlewaretoken", "{{csrf_token}}");
            formData.append("data", JSON.stringify(algorithms));
            $.ajax({
                url: "{% url 'ajax_update_algorithms_visibility' %}",
                type: "POST",
                dataType: "json",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    location.reload();
                },
                error: function (response) {
                    showMessage(response.responseJSON.msg, "danger");
                },
            });
        });
        $(".active").removeClass("active");
        $("#admin_item").addClass("active");

        $("#nav-user-tab").addClass("active");
        $("#nav-user").addClass("active");
    });
</script>
{% endblock %}