{% load static %}
<html>

<head>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{% block title %} Trends Earth {% endblock %}</title>
    <link rel="icon" href="{% static 'images/trends_earth_logo_square_32x32.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
</head>

<body>
    {% include 'header.html' %}
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="main" id="main">
                    {% block messages %}
                    <div id="messages-panel">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    {% endblock %}
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    {% block footer-js %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bs-stepper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

    <script>
        $(document).ready(function () {
            setTimeout(function () {
                if ($('#msg').length > 0) {
                    $('#msg').remove();
                }
            }, 2000);
            $("#country").on("change", function () {
                $.get("/ajax/regions?country_id=" + $(this).val(), function (response, status) {
                    $("#region").empty();
                    $("#region").append(response);
                });
            });
        });
    </script>
    {% endblock %}
</body>

</html>