{% extends 'base.html' %}

{% block title %}Trends.Earth{% endblock %}

{% load static %}

{% block content %}
<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .photo-container img {
        cursor: pointer;
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        height: 150px;
    }
</style>

<div id="breadcrumbs" class="d-print-none">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb border-bottom">
            <li class="breadcrumb-item">
                <a href="/"><i class="fa fa-home"></i></a>
            </li>
            <li class="breadcrumb-item">
                <a href="/profile">Profile</a>
            </li>
            <li class="breadcrumb-item active">Edit {{this_user.first_name}} {{this_user.last_name}}</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-md-12">
        <form id="user_form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-7 border">
                    <h3>General Information</h3>
                    <div class="row">
                        <div class="col-sm-6 mb-3">
                            <label for="firstnameInput" class="form-label">First Name</label>
                            <span class="required">*</span>
                            <input type="text" name="first_name" class="form-control" id="firstnameInput"
                                value="{{this_user.first_name}}" placeholder="John">
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label for="lastnameInput" class="form-label">Last Name</label>
                            <span class="required">*</span>
                            <input type="text" name="last_name" class="form-control" id="lastnameInput"
                                value="{{this_user.last_name}}" placeholder="Fox">
                        </div>
                    </div>
                    {% if user.is_superuser %}
                    <div class="row">
                        <div class="col-sm-6 mb-3">
                            <label for="roleInput" class="form-label">Role</label>
                            <span class="required">*</span>
                            <select id="roleInput" name="role" class="js-states form-select">
                                {% for role in roles %}
                                {% if this_user.profile.role.id == role.id %}
                                <option selected value="{{role.id}}">{{role.value | upper}}</option>
                                {% else %}
                                <option value="{{role.id}}">{{role.value | upper}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label for="statusInput" class="form-label">Status</label>
                            <select id="statusInput" name="is_active" class="js-states form-select">
                                <option value="1" {% if this_user.is_active %} selected {% endif %}>ACTIVE
                                </option>
                                <option value="0" {% if not this_user.is_active %} selected {% endif %}>INACTIVE
                                </option>
                            </select>
                        </div>
                    </div>
                    {% endif %}

                    <hr style="margin-top: 1rem;
                                margin-bottom: 1rem;
                                border: 0;
                                border-top: 1px solid rgba(0, 0, 0, 0.3);">
                    <h3>Contact Information</h3>
                    <div class="row">
                        <div class="col-sm-12 mb-3">
                            <label for="organizationInput" class="form-label">Institution</label>
                            <span class="required">*</span>
                            <input type="text" name="organization" class="form-control" id="organizationInput"
                                value="{{this_user.profile.organization}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 mb-3">
                            <label for="countryInput" class="form-label">Country</label>
                            <select id="countryInput" name="country" class="js-states form-select">
                                {% for country in countries %}
                                {% if this_user.profile.country.id == country.id %}
                                <option selected value="{{country.id}}">{{country.name | upper}}</option>
                                {% else %}
                                <option value="{{country.id}}">{{country.name | upper}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 mb-3">
                            <label for="regionInput" class="form-label">Region/State</label>
                            <select id="regionInput" name="region" class="js-states form-select">
                                {% for region in regions %}
                                {% if this_user.profile.region.id == region.id %}
                                <option selected value="{{region.id}}">{{region.name | upper}}</option>
                                {% else %}
                                <option value="{{region.id}}">{{region.name | upper}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    {% if this_user != user%}
                    <div class="row">
                        <div class="col-sm-12 mb-3">
                            <label for="dateJoinedInput" class="form-label">Date Joined</label>
                            <p>{{this_user.date_joined}}</p>
                        </div>
                        <div class="col-sm-12 mb-3">
                            <label for="lastloginInput" class="form-label">Last Login Date</label>
                            <p>{{this_user.last_login}}</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-4" style="margin-left: 5px">
                    <div class="row border" style="padding:10px; margin-bottom: 15px;">
                        <div class="col-md-12">
                            <h3>Image</h3>
                        </div>
                        <div class="col-md-12 center">
                            <div class=" photo-container">
                                {% if this_user.profile.image == '' %}
                                <img src="{% static 'assets/images/profile.png' %}" alt="" class="profile-photo"
                                    data-toggle="popover" title="" data-placement="right" type="button"
                                    data-original-title="Help?" id="profile_photo">
                                {% else %}
                                <img src="/media/{{this_user.profile.photo}}" alt="" class="profile-photo"
                                    data-toggle="popover" title="" data-placement="right" type="button"
                                    data-original-title="Help?" id="profile_photo">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-12">
                            {% if user.id == this_user.id %}
                            <div class="center">
                                <button type="button" class="btn btn-outline-primary" id="btn_upload_profile_photo"
                                    style="margin-top: 4px;">Upload new profile
                                    photo</button>
                                <input type="file" name="file_profile" id="file_profile" accept="image/*" hidden>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row border">
                        <div class="col-sm-12 mb-3">
                            <h3>Login Information</h3>
                            <label for="emailInput" class="form-label">Email address</label>
                            <span class="required">*</span>
                            <input type="email" name="email" class="form-control" id="emailInput"
                                value="{{this_user.email}}" placeholder="johnfox@email.com">
                        </div>
                        {% if this_user %}
                        <div class="col-sm-12 mb-3">
                            <span style="font-weight: 200; font-style: italic; text-decoration: underline;">Leave the
                                password blank to keep the
                                current
                                password:</span>
                        </div>
                        {% endif %}
                        <div class=" col-md-12 mb-3">
                            <label for="password" class="form-label">New Password</label>
                            <span class="required">*</span>
                            <input type="password" class="form-control" name="password1" id="password"
                                placeholder="New password">
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="confirm_password" class="form-label">Confirm Password</label>
                            <span class="required">*</span>
                            <input type="password" class="form-control" name="password2" id="confirm_password"
                                placeholder="Confirm password">
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <br />
        <div class="row">
            <div class="col-md-11 mb-3" style="float: right;">
                <button class="btn text-white bg-primary text-center"
                    style="min-width: 100px; width: 150px; float: right;" id="btn_save_user">SAVE</button>
                <span style="width: 10px; float: right;">&nbsp;</span>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script>
    $(document).ready(function () {

        $("#countryInput").on("change", function () {
            $.get("/ajax/regions?country_id=" + $(this).val(), function (response, status) {
                $("#regionInput").empty();
                $("#regionInput").append(response);
            });
        });

        $("#btn_save_user").on("click", function () {
            let formData = new FormData(document.getElementById("user_form"));
            formData.append("csrfmiddlewaretoken", "{{csrf_token}}");
            formData.append("user_id", "{{this_user.id}}");
            $.ajax({
                url: "/ajax/user/edit/",
                type: "POST",
                dataType: "json",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    showMessage(response.msg, 10000);
                },
            });
        });
        $("#btn_upload_profile_photo").on("click", function () {
            $("#file_profile").click();
        })
        $("#file_profile").on("change", function () {
            const fileinput = $(this)[0];
            if (fileinput !== undefined && fileinput.files.length > 0) {
                let formData = new FormData();
                formData.append("csrfmiddlewaretoken", "{{csrf_token}}");
                formData.append("user_id", "{{this_user.id}}");
                formData.append("file", fileinput.files[0]);
                $.ajax({
                    url: "/ajax/upload/profile_image/",
                    type: "POST",
                    dataType: "json",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        $("#profile_photo").attr("src", "/media/" + response.image)
                        showMessage(response.msg, 10000);
                    },
                    error: function (response) {
                        showMessage(response.responseJSON.msg, 10000);
                    },

                });
            }

        });

    });
</script>

{% endblock %}