{% load static %}
<html>

<head>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="icon" href="{% static 'images/trends_earth_logo_square_32x32.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{%  static 'css/ol.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/css/ol.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
</head>

<body>
    {% block messages %}
    <ul class="messages" id="messages-list">
        {% if messages %}
        {% for message in messages %}
        <li>
            {% if message.tags %}
            <div class="alert alert-{{ message.tags }} msg fade show" role="alert">{{ message }}</div>
            {% else %}
            <div class="alert alert-info msg fade show" role="alert">{{ message }}</div>
            {% endif %}
        </li>
        {% endfor %}
        {% endif %}
    </ul>
    {% endblock %}
    {% include 'header.html' %}
    <div class="content">
        <div class="container-fluid">
            <div class="row-flex">
                <div id="side-panel">
                    <div class="about">
                        <h2>About</h2>
                        <p>
                            <a href="https://trends.earth/">Trends.Earth</a> is a platform from <a
                                href="https://www.conservation.org/">Conservation
                                International</a> for monitoring land change using
                            earth observations. The tool allows users to assess time series of key indicators of land
                            change to produce maps and other graphics that can support monitoring and reporting, and to
                            track the impact of sustainable land management.
                        </p>
                        <p>The tool supports monitoring progress on land degradation neutrality (SDG 15.3.1), land
                            consumption (SDG 11.3.1), modeling carbon
                            emissions from deforestation, and modeling potential carbon sequestration from restoration
                            activities.
                        </p>
                        <p>Trends.Earth supports monitoring and reporting on Sustainable Development Goals
                            (SDGs) 15.3.1 (area of degraded land) and 11.3.1 (ration of land consumption rate to
                            population growth) by providing a platform for analyzing data for reporting commitments to
                            the United Nations Convention to Combat Desertification (UNCCD) and UN-Habitat.
                        </p>
                        <p>
                            The development of Trends.Earth was funded by the Global Environment
                            Facility and NASA, and led by Conservation International and its partners. Conservation
                            International works to spotlight and secure the critical
                            benefits that nature provides to humanity.
                        </p>


                    </div>
                </div>
                <div class="col-flex">
                    {% include 'account/map.html' %}
                </div>

            </div>
        </div>
    </div>

    {% block footer-js %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.select.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bs-stepper.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/build/ol.js"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/map.js' %}"></script>

    <script>
        $(document).ready(function () {

            $("#country").on("change", function () {
                $.get("/ajax/regions?country_id=" + $(this).val(), function (response, status) {
                    $("#region").empty();
                    $("#region").append(response);
                });
            });

            $("#btn_register_user").on("click", function () {
                $("#username").val($("#email").val());
                let formData = new FormData(document.getElementById("registration-form"));
                formData.append("csrfmiddlewaretoken", "{{csrf_token}}");

                $.ajax({
                    url: "/register/user",
                    type: "POST",
                    dataType: "json",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        $("#messages-list").removeClass("msg-white");
                        $("#messages-list").addClass("msg-dark");
                        const messages = document.getElementById("messages-list");
                        messages.innerHTML += response.msg;

                        $("#messages-list").fadeOut(2000, "swing", function () {
                            messages.innerHTML = "";
                            $("#messages-list").show();
                            $("#messages-list").removeClass("msg-black");
                            $("#messages-list").addClass("msg-white");
                            window.location = response.url;
                        });
                    },
                    error: function (response) {
                        $("#alert_error").show();
                        $("#alert_error").empty();
                        $("#alert_error").html(response.responseText);
                        $("#alert_error").fadeOut(2000, "swing", function () { });
                    }
                });

            });

            var mainMap = drawMap("map");
            var prodLayer = new ol.layer.Tile({
                name: "",
                source: new ol.source.TileImage({
                    url: "https://global_ld_analysis.storage.googleapis.com/r20180821_lp7cl_globe_2001_2015_modis_newpalette/{z}/{x}/{y}.png",
                }),
                visible: true,
                opacity: 1,
            });

            mainMap.addLayer(prodLayer);

        });
    </script>
    {% endblock %}
</body>

</html>