{% load static %}
<table id="jobs_tbl" class="table table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th data-orderable="false">Task</th>
            <th data-orderable="true">Script</th>
            <th data-orderable="true">Status</th>
            <th>Started</th>
            <th data-orderable="false" style="width: 150px;">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{job.params.task_name}}
                {% if job.params.task_name %}
                -
                {% endif %}
                {% if job.results.name %}
                {{job.results.name}}
                {% endif %}
            </td>
            <td>{{job.script.name_readable}}</td>
            <td>{{job.status.value}}</td>
            <td>{{job.start_date}}</td>
            <td>
                {% if job.status.value == "FINISHED" %}
                <button class="btn btn-danger download-job" job-id="{{job.id}}" title="Download"
                    style="margin-right: 5px; line-height: 2px; min-width: 10px; width: 20px; height: 20px; padding: 2px; border-radius: 5px;">
                    <i class="fa fa-arrow-circle-down"></i>
                </button>
                <a class="btn btn-outline-primary view-job" role="button" job-id="{{job.id}}" title="View"
                    href="/jobs/{{job.id}}/view"
                    style="margin-right: 5px; line-height: 2px; min-width: 10px; width: 24px; height: 20px; padding: 2px; border-radius: 5px;">
                    <i class="fa fa-eye"></i>
                </a>
                {% endif %}

                {% if job.status.value == "RUNNING" or job.status.value == "READY" %}
                <button class="btn btn-danger cancel-job" role="button" job-id="{{job.id}}" title="Cancel"
                    style="margin-right: 5px;line-height: 2px; min-width: 10px; width: 20px; height: 20px; padding: 2px; border-radius: 5px;">
                    <i class="fa fa-ban"></i>
                </button>
                {% endif %}
                <button class="btn btn-outline-danger delete-job" role="button" job-id="{{job.id}}" title="Delete"
                    style="line-height: 2px; min-width: 10px; width: 20px; height: 20px; padding: 2px; border-radius: 5px;">
                    <i class="fa fa-remove delete-job"></i>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#jobs_tbl').on('click', 'button.download-job', function (e) {
            let uid = $(this).attr("job-id");
            $.get({
                url: "/ajax/download/" + uid,
                success: function (response) {
                    const link = document.createElement("a");
                    link.href = response.url;
                    link.download = response.fname;
                    link.click();
                    delete link;
                },
                error: function (response) {
                    showMessage(response.responseJSON.msg, 2000);
                }
            });
        });

        $('#jobs_tbl').on('click', 'button.cancel-job', function (e) {
            let uid = $(this).attr("job-id");
            $.get({
                url: "/ajax/cancel/" + uid,
                success: function (response) {
                    $("#jobs_tbl").empty();
                    $("#jobs_tbl").append(response);
                },
            });
        });

        $('#jobs_tbl').on('click', 'button.delete-job', function (e) {
            let uid = $(this).attr("job-id");
            console.log(uid);
            $.get({
                url: "/ajax/delete/" + uid,
                success: function (response) {
                    $("#jobs_tbl").empty();
                    $("#jobs_tbl").append(response);
                },
                error: function (response) {
                    showMessage(response.responseJSON.msg, "danger");
                }
            });
        });
    });

</script>