{% load static %}
<table class="table table-hover" style="width:100%" id="users_tbl">
    <thead>
        <tr>
            <th>#</th>
            <th>Full Name</th>
            <th>Country</th>
            <th>Organization</th>
            <th>Role</th>
            <th>Email</th>
            <th>Jobs</th>
            <th>Last Login</th>
            <th style="width: 150px;">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% if users_list %}
        {% for profile in users_list %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{ profile.user.first_name}} {{ profile.user.last_name}}</td>
            <td>{{ profile.country.name }}</td>
            <td>{{ profile.organization }}</td>
            <td>{{ profile.role.value }}</td>
            <td>{{ profile.user.email }}</td>
            <td>{{ profile.user.job_set.all.count }}</td>
            <td>{% if profile.user.last_login %}
                {{ profile.user.last_login }}
                {% else %}
                Never
                {% endif %}
            </td>
            <td>
                <a class="btn btn-outline-success" role="button" href="/admin/users/{{profile.user.id}}"
                    style="padding: 0px 10px; min-width: 20px; border-radius: 5px;">
                    <i class="fa fa-eye"></i> View
                </a>
                {% if user.is_superuser %}
                <button class="btn btn-outline-danger delete_user" data-bs-toggle="modal" data-bs-target="#confirmModal"
                    data-id="{{profile.user.id}}" data-name="{{profile.user.first_name}} {{profile.user.last_name}}"
                    style="padding: 0px 10px; min-width: 20px; border-radius: 5px;">
                    <i class="fa fa-trash"></i> Delete
                </button>
                {% endif %}
            </td>

        </tr>
        {% endfor %}

        {% endif %}
    </tbody>
</table>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $("#users_tbl").DataTable();

        var id, name;
        $('#confirmYes').on("click", function () {
            var formData = new FormData();
            formData.append("csrfmiddlewaretoken", "{{csrf_token}}");
            formData.append("user_id", id);
            $.ajax({
                url: "/admin/users/delete",
                type: "POST",
                dataType: "json",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $('#confirmModal').hide();
                    $("#nav-user").empty();
                    $("#nav-user").append(response);
                },
                error: function (response) {
                    $('#confirmModal').hide();
                    showMessage(response.responseJSON.msg, "danger");
                }
            });
        });

        $('.delete_user').on("click", function () {
            id = $(this).attr("data-id");
            name = $(this).attr("data-name");
            document.getElementById("confirmModalLabel").innerText = "Confirm Dialog - Account Closure";
            document.getElementById("confirmMessage").innerText = "Do you want to remove " + name + " ?";
        });
    });
</script>