{% extends 'account/base.html' %}

{% block title %} Trends.Earth {% endblock %}

{% load static %}

{% block content %}

<div class="login-container" style=" margin-top: 14px !important;">
    <div class="row welcome-div">
        <div class="col-md-2">
            <img src="{% static 'images/trends_earth_logo_square_32x32.png' %}" width="32px">
        </div>
        <div class="col-md-8">
            <span>WELCOME TO</span>
            <span style="color: #dc3545; ">TRENDS.EARTH</span>
        </div>
    </div>
    <form method="post" id="login-form">
        <div class="row">
            <div class="col-md-12">
                <span>Fill in the following information to login. Mandatory fields are denoted by</span>
                <span class="required">*</span>
            </div>
        </div>
        <hr>
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="id_email" class="form-label">Email
                    Address</label>
                <span class="required">*</span>
                <input type="email" class="form-control" name="email" id="id_email" placeholder="Your Email Address"
                    required="true" autofocus="" autocapitalize="none" autocomplete="email">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="id_password" class="form-label">Password</label>
                <span class="required">*</span>
                <input type="password" class="form-control" name="password" id="id_password" placeholder="Your password"
                    required="true" autocomplete="current-password">
            </div>
        </div>

        <div class="row">
            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <button type="submit" class="btn btn-danger">SIGN IN</button>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-8">
                <span>Forgot your password? <a href="{% url 'password_reset' %}"
                        style="color: #000; font-weight: 600;">Reset
                        Password</a></span>
            </div>
            <div class="col-md-4">
                <span>New? <a href="{% url 'register' %}" style="color: #000; font-weight: 600;">Sign
                        Up</a></span>
            </div>
        </div>

        <br />
    </form>
</div>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $(".btn-menu-item").removeClass("active");
        $("#dropdownMenuLogin").addClass("active");
    });
</script>
{% endblock %}