{% extends 'account/base.html' %}

{% block title %}Trends.Earth{% endblock %}

{% load static %}

{% block content %}

<div class="login-container" style=" margin-top: 14px !important;">
    <div class="row welcome-div">
        <div class="col-md-2">
            <img src="{% static 'images/trends_earth_logo_square_32x32.png' %}" width="32px">
        </div>
        <div class="col-md-8">
            <span>WELCOME TO</span>
            <span style="color: #dc3545; ">TRENDS.EARTH</span>
        </div>
    </div>

    <div id="login-form">
        <h2 class="font-weight-bold mt-3">Password reset email sent</h2>
        <hr>
        <p>We have emailed you the instructions for setting your password. If an account exists with the email you
            entered, you should receive them shortly.
            If you don't receive an email, please make sure you have entered the right email address you registered
            with, and check your SPAM folder.
        </p>
    </div>
</div>

{% endblock %}