{% extends 'account/base.html' %}

{% block title %}Trends.Earth{% endblock %}

{% load static %}

{% block content %}

<div class="login-container" style=" margin-top: 14px !important;">
    <div class="row welcome-div">
        <div class="col-md-2">
            <img src="{% static 'images/trends_earth_logo_square_32x32.png' %}" width="32px">
        </div>
        <div class="col-md-8">
            <span>WELCOME TO</span>
            <span style="color: #dc3545; ">TRENDS.EARTH</span>
        </div>
    </div>

    <form method="post" id="login-form">
        <h2 class="font-weight-bold mt-3">Reset Password</h2>
        <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
        </p>
        <hr>
        <div class="row">
            <div class="col-md-12">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    {% if message.tags %}
                    <p class="{{ message.tags }}">{{ message }}
                    </p>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="id_email" class="form-label">Email address</label>
                <span class="required">*</span>
                <input type="email" class="form-control" name="email" id="id_email" placeholder="Your email"
                    required="true">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <button class="btn btn-danger" type="submit">SEND EMAIL</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}