/* LOGIN FORM */

body {
  /* background-image: url("../images/landhouse.jpg") !important;
  background-size: cover !important; */
  background-color: #fff;
  width: 100% !important;
  height: 100% !important;
  overflow-x: hidden !important;
}

.row{
  padding: 0px;
}

.row-flex {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.col-flex {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.row .col-md-7, .row .col-md-5{
  padding: 30px;
}

.login #header h2 {
  color: #fff;
  letter-spacing: 2px;
  margin: 0;
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 300;
  line-height: 30px;
  white-space: nowrap;
}

.login #content {
  padding: 0px;
}

.login #container {
  background: #fff;
  box-shadow: 2px 2px 18px -1px rgb(0 0 0 / 75%);
  border: 1px solid #dcdcdc;
  border-radius: 20px;
  overflow: hidden;
  /* width: 70vw;
  min-width: 70vw !important; */
}

.login #content-main {
  width: 100%;
}

.login .form-label {
  font-size: 18px;
  font-weight: 300;
}

.login .btn {
  width: 100%;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

#login-form{
  max-width: 80%;
  margin: auto;
  padding: auto;
}

.login input[type="submit"]{
  background-color: #dc3545;
}

.login span.help {
  font-size: 10px;
  display: block;
}

.group {
  display: table;
  width: 100%;
}

.line {
  border-bottom: 1px solid #ccc;
  position: relative;
  top: -1em;
}
.item {
  display: table-cell;
}
.item {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  line-height: 60px;
}

.text {
  white-space: nowrap;
  width: 1%;
  padding: 0 10px;
  font-size: 18px;
}

@media (max-width: 1190px) {
  .login #header h2 {
    font-size: 20px;
    letter-spacing: 0px;
  }
}

.error {
  color: #a94442;
}
