<!-- Remote Land cover -->
{% load static %}
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-new-tab" data-bs-toggle="tab" data-bs-target="#nav-new" type="button"
            role="tab" aria-controls="nav-new" aria-selected="true">
            <i class="fa fa-plus-circle"></i>
            New Job
        </button>
        <button class="nav-link" id="nav-perm-tab" data-bs-toggle="tab" data-bs-target="#nav-perm" type="button"
            role="tab" aria-controls="nav-perm" aria-selected="false">
            <i class="fa fa-list"></i>
            View Jobs</button>
        <button class="nav-link" id="nav-info-tab" data-bs-toggle="tab" data-bs-target="#nav-info" type="button"
            role="tab" aria-controls="nav-info" aria-selected="false">
            <i class="fa fa-info-circle"></i>
            About</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade border show active" id="nav-new" role="tabpanel" aria-labelledby="nav-new-tab"
        style="padding: 10px;">
        <div class="row">
            <form method="post" id="login-form">
                {% csrf_token %}
                <div class="row border">
                    <div class="col-md-6 mb-3">
                        <label for="initial_year_de" class="form-label">Initial Year</label>
                        <select class="form-select form-select-sm" name="initial_year_de" id="initial_year_de">
                            {% for year in years %}
                            <option value="{{year}}">{{year}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="target_year_de" class="form-label">Target Year</label>
                        <select class="form-select form-select-sm" name="target_year_de" id="target_year_de">
                            {% for year in years %}
                            {% if year == current_year %}
                            <option value="{{year}}" selected>{{year}}</option>
                            {% else %}
                            <option value="{{year}}">{{year}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="border">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label>Aggregation Method</label>
                            <button type="button" class="btn btn-outline-success" id="btn_editAggregation"
                                data-bs-toggle="modal" data-bs-target="#aggregationDefinitionModal">
                                <i class="fa fa-edit"></i> Edit definition</button>

                        </div>
                        <div class="col-md-12 mb-3">
                            <h3>Current region</h3>
                            <label id="aoi_lbl">{{aoi.name}}</label>
                            <input type="hidden" name="aoi_id" id="aoi_id" value="{{aoi.id}}">
                            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                                data-bs-target="#aoiModal">
                                <i class="fa fa-edit"></i> Change Region</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label class="form-label">Execution Name</label>
                            <input type="text" class="form-control" name="execution_name" id="execution_name"
                                placeholder="Execution Name" autofocus="" autocapitalize="none">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label class="form-label">Notes</label>
                            <textarea class="form-control" id="task_notes" name="task_notes" rows="3"></textarea>
                        </div>
                    </div>
                </div>

                <br />
                <div class="row border">
                    <div class="col-md-12">
                        <div class="accordion" id="accordionAdvanced">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingAdvanced">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseAdvanced" aria-expanded="true"
                                        aria-controls="collapseAdvanced">
                                        Advanced configuration
                                    </button>
                                </h2>
                                <div id="collapseAdvanced" class="accordion-collapse collapse hide"
                                    aria-labelledby="headingAdvanced" data-bs-parent="#accordionAdvanced">
                                    <div class="accordion-body">
                                        <p>Define Effects of Land Cover Change</p>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="matrix-table" id="matrix_table">
                                                    {{table | safe}}
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Legend</label>
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <div
                                                                style="width: 30; height: 20px; background-color: {{degraded_hex}}; border: 1px solid gray;">
                                                            </div>
                                                        </td>
                                                        <td>Degraded</td>
                                                        <td>
                                                            <div
                                                                style="width: 30; height: 20px; background-color: {{increasing_hex}}; border: 1px solid gray;">
                                                            </div>
                                                        </td>
                                                        <td>Increasing</td>
                                                        <td>
                                                            <div
                                                                style="max-width: 30; height: 20px; background-color: {{stable_hex}}; border: 1px solid gray;">
                                                            </div>
                                                        </td>
                                                        <td>Stable</td>
                                                    </tr>

                                                </table>
                                                <p>* The <em>Grassland</em> class consists of grassland, shrub, and
                                                    sparsely
                                                    vegetated areas (if the default aggregation is used).</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button type="button" class="btn btn-outline-secondary"
                                                    id="btn_reset_matrix_tbl">Reset
                                                    matrix</button>
                                                <button type="button" class="btn btn-outline-success"
                                                    id="btn_save_matrix">Save
                                                    matrix</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <br />

                <div class="row">
                    <div class="col-md-11 mb-3">
                        <button type="button" class="btn btn-danger" id="btn_execute">SCHEDULE EXECUTION</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="tab-pane fade border" id="nav-perm" role="tabpanel" aria-labelledby="nav-perm-tab"
        style="padding-top: 10px;">
        {% include 'job/jobs.html' %}
    </div>
    <div class="tab-pane fade border" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab"
        style="padding: 10px;">
        <div class="row">
            <div class="col-md-11">
                <div class="section" id="sdg-indicator-15-3-1">
                    <span id="indicator-15-3-1"></span>
                    <h1>Land Cover</h1>

                    <p>
                        To assess changes in land cover users need land cover maps covering the study area for the
                        baseline and target years. These maps need to be of acceptable accuracy and created in such a
                        way which allows for valid comparisons. Trends.Earth uses ESA CCI land cover maps as the default
                        dataset, but local maps can also be used. The indicator is computed as follows:
                    <ol>
                        <li>
                            Reclassify both land cover maps to the 7 land cover classes needed for reporting to the
                            UNCCD
                            (forest, grassland, cropland, wetland, artificial area, bare land and water).
                        </li>
                        <li>
                            Perform a land cover transition analysis to identify which pixels remained in the same land
                            cover class, and which ones changed.
                        </li>
                        <li>
                            Based on your local knowledge of the conditions in the study area and the land degradation
                            processed occurring there, use the table below, in the advanced section, to identify which
                            transitions correspond to degradation (- sign), improvement (+ sign), or no change in terms
                            of land condition (zero).
                        </li>
                        <li>
                            Trends.Earth will combine the information from the land cover maps and the table of
                            degradation typologies by land cover transition to compute the land cover sub-indicator.
                        </li>
                    </ol>
                    </p>

                    <a href="https://trends.earth/docs/en/background/understanding_indicators15.html#land-cover"
                        target="_blank">
                        <p>More information on the
                            Land Cover SDG 15.3.1 Sub-indicator</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/events.js' %}"></script>
<script>
    $(document).ready(function () {
        $(".lc-input").on("keyup", function () {
            var inputVal = $(this).val();
            if (inputVal.length > 1) {
                inputVal = inputVal[0];
                $(this).val(inputVal);
            }
            if (! /[-0+]/.test(inputVal)) {
                $(this).val("");
            } else {
                $(this).removeClass("stable");
                $(this).removeClass("degradation");
                $(this).removeClass("improvement");

                if (inputVal == "0") {
                    $(this).addClass("stable");
                } else if (inputVal == "-") {
                    $(this).addClass("degradation");
                } else {
                    $(this).addClass("improvement");
                }
            }

        });

        $("#btn_reset_matrix_tbl").on("click", function () {
            $.get("/ajax/matrix_table", function (response, status) {
                $("#matrix_table").empty();
                $("#matrix_table").append(response);
            });
        });

        $("#btn_reset_aggregation").on("click", function () {
            $.get("/ajax/aggregation_table/reset", function (response, status) {
                $("#aggregation_tbl_panel").empty();
                $("#aggregation_tbl_panel").append(response);
                $("#aggregation_definition_tbl").DataTable({
                    scrollY: "400px",
                    scrollCollapse: true,
                    paging: false,
                });
            });
        });

        $("#btn_save_matrix").on("click", function () {
            let tbody = $("#matrix_table tbody");
            let tdata = [];
            tbody.find("tr").each(function (i, el) {
                var cols_data = [];
                $(this).find("td").each(function (j, elj) {
                    var input = $(this)
                        .find("input")
                        .eq(0)
                        .val();
                    cols_data.push(input);
                });
                if (cols_data.length > 0) {
                    tdata.push(cols_data);
                }

            });

            let formData = new FormData();
            formData.append("csrfmiddlewaretoken", "{{csrf_token}}");
            formData.append("tdata", JSON.stringify({ "tdata": tdata }));
            $.ajax({
                url: "/ajax/save_matrix",
                type: "POST",
                dataType: "json",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $("#messages-list").removeClass("msg-white");
                    $("#messages-list").addClass("msg-dark");
                    const messages = document.getElementById("messages-list");
                    messages.innerHTML = response.msg;

                    $("#messages-list").fadeOut(2000, "swing", function () {
                        messages.innerHTML = "";
                        $("#messages-list").show();
                        $("#messages-list").removeClass("msg-black");
                        $("#messages-list").addClass("msg-white");
                    });
                }
            });
        });

        $("#btn_execute").on("click", function () {
            let tbody = $("#matrix_table tbody");
            let tdata = [];
            tbody.find("tr").each(function (i, el) {
                let trow = [];
                $(this).find("td").each(function (j, el) {
                    var val = $(this).find("input")
                        .eq(0)
                        .val();
                    trow.push(val);
                });
                if (trow.length > 1)
                    tdata.push(trow);
            });

            let formData = new FormData();
            formData.append("csrfmiddlewaretoken", "{{csrf_token}}");
            formData.append("tdata", JSON.stringify(tdata));

            formData.append("algo", "land-cover");
            formData.append("runmode", "REMOTE");
            formData.append("task_name", $("#execution_name").val());
            formData.append("task_notes", $("#task_notes").val());
            formData.append("initial_year_de", +$("#initial_year_de").val());
            formData.append("target_year_de", +$("#target_year_de").val());
            formData.append("aoi_id", +$("#aoi_id").val());
            $.ajax({
                url: "/ajax/run/job",
                type: "POST",
                dataType: "json",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $("#messages-list").removeClass("msg-white");
                    $("#messages-list").addClass("msg-dark");
                    const messages = document.getElementById("messages-list");
                    messages.innerHTML += response.msg;

                    $("#messages-list").fadeOut(2000, "swing", function () {
                        messages.innerHTML = "";
                        $("#messages-list").show();
                        $("#messages-list").removeClass("msg-black");
                        $("#messages-list").addClass("msg-white");
                    });
                    $('#iframe').attr('src', function (i, val) { return val; });
                    $("#aggregationDefinitionModal .btn-close").click()
                }
            });
        });
    });
</script>