<!-- Land productivity -->
<!-- All SDG 15.3.1 sub-indicators in one step-->
{% load static %}
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-new-tab" data-bs-toggle="tab" data-bs-target="#nav-new" type="button"
            role="tab" aria-controls="nav-new" aria-selected="true">
            <i class="fa fa-plus-circle"></i>
            New Job
        </button>
        <button class="nav-link" id="nav-perm-tab" data-bs-toggle="tab" data-bs-target="#nav-perm" type="button"
            role="tab" aria-controls="nav-perm" aria-selected="false">
            <i class="fa fa-list"></i>
            View Jobs</button>
        <button class="nav-link" id="nav-info-tab" data-bs-toggle="tab" data-bs-target="#nav-info" type="button"
            role="tab" aria-controls="nav-info" aria-selected="false">
            <i class="fa fa-info-circle"></i>
            About</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade border show active" id="nav-new" role="tabpanel" aria-labelledby="nav-new-tab"
        style="padding: 10px; ">
        <div class="row">
            <form method="post" id="login-form">
                {% csrf_token %}
                <div class="row border">
                    <div class="col-md-6">
                        <h3>Indicators to calculate</h3>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radio_lpd_jrc" id="radio_te_prod"
                                value="TE" checked>
                            <label class="form-check-label" for="radio_lpd_jrc">
                                Trends.Earth land productivity
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radio_lpd_jrc" id="radio_lpd_jrc"
                                value="JRC">
                            <label class="form-check-label" for="radio_te_prod">
                                UNCCD default data (Land Productivity Dynamics (LPD) from Join Research Commission)
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="ndvi_dataset" class="form-label">NDVI Dataset</label>
                        <select class="form-select form-select-sm" name="ndvi_dataset" id="ndvi_dataset">
                            {% for ds_name, ds_details in conf.NDVI.items %}
                            {% if ds_details|get_item:"Temporal resolution" == "annual" %}
                            <option value="{{ds_name}}">{{ ds_name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="border">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Current region</h3>
                            <label>{{aoi.name}}</label>
                            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                                data-bs-target="#aoiModal">
                                <i class="fa fa-edit"></i> Change Region</button>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <h3>Execution Name</h3>
                            <input type="text" class="form-control" name="execution_name" id="execution_name"
                                placeholder="Execution Name" autofocus="" autocapitalize="none">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Notes</h3>
                            <textarea class="form-control" id="task_notes" name="task_notes" rows="3"></textarea>
                        </div>
                    </div>
                </div>

                <br />
                <div class="row border" id="advanced_panel">
                    <div class="col-md-12">
                        <div class="accordion" id="accordionAdvanced">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingAdvanced">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseAdvanced" aria-expanded="true"
                                        aria-controls="collapseAdvanced">
                                        Advanced configuration
                                    </button>
                                </h2>
                                <div id="collapseAdvanced" class="accordion-collapse collapse hide"
                                    aria-labelledby="headingAdvanced" data-bs-parent="#accordionAdvanced">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="groupBox_traj" checked>
                                                    <label class="form-check-label" for="groupBox_traj">
                                                        Trajectory (related to rate of change of productivity over time)
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row groupBox_traj">
                                            <div class="col-md-6 mb-3">
                                                <label for="trajectory_indicator" class="form-label">Trajectory
                                                    Indicator</label>
                                                <select class="form-select form-select-sm" name="trajectory_indicator"
                                                    id="trajectory_indicator">
                                                    {% for func in trajectory_functions %}
                                                    <option value="{{func}}">{{func}}</option>
                                                    {% endfor %}
                                                </select>

                                            </div>
                                            <div class="col-md-6">
                                                <label for="traj_climate" class="form-label">Climate
                                                    dataset</label>
                                                <select class="form-select form-
                                                select-sm" name="traj_climate" id="traj_climate">
                                                    {% for dataset in climate_datasets %}
                                                    <option value="{{dataset}}">{{dataset}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row groupBox_traj">
                                            <div class="col-md-12">
                                                <h3>Period</h3>
                                            </div>
                                        </div>
                                        <div class="row groupBox_traj">
                                            <div class="col-md-6 mb-3">
                                                <label for="traj_year_initial" class="form-label">Initial
                                                    Year</label>
                                                <select class="form-select form-select-sm" name="traj_year_initial"
                                                    id="traj_year_initial">
                                                    {% for tr in 2001|range:2022 %}
                                                    <option value="{{tr}}">{{tr}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="traj_year_final" class="form-label">Final Year</label>
                                                <select class="form-select form-select-sm" id="traj_year_final"
                                                    name="traj_year_final">
                                                    {% for tr in 2001|range:2022 %}
                                                    <option value="{{tr}}">{{tr}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="groupBox_perf" checked>
                                                    <label class="form-check-label" for="groupBox_perf">
                                                        Performance (a measure of how productivity in an area compares
                                                        to
                                                        that of similar areas)
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row groupBox_perf">
                                            <div class="col-md-6 mb-3">
                                                <label for="perf_year_initial" class="form-label">Initial
                                                    Year</label>
                                                <select class="form-select form-select-sm" name="perf_year_initial"
                                                    id="perf_year_initial">
                                                    {% for tr in 2001|range:2022 %}
                                                    <option value="{{tr}}">{{tr}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="perf_year_final" class="form-label">Final Year</label>
                                                <select class="form-select form-select-sm" id="perf_year_final"
                                                    name="perf_year_final">
                                                    {% for tr in 2001|range:2022 %}
                                                    <option value="{{tr}}">{{tr}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="groupBox_state" checked>
                                                    <label class="form-check-label" for="groupBox_state">
                                                        State (compares current productivity in an area to past
                                                        productivity
                                                        in the same area)
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row groupBox_state">
                                            <h3>Initial period</h3>
                                            <div class="col-md-6 mb-3">
                                                <label for="state_year_bl_start" class="form-label">Starting
                                                    Year</label>
                                                <select class="form-select form-select-sm" name="state_year_bl_start"
                                                    id="state_year_bl_start">
                                                    {% for tr in 2001|range:2022 %}
                                                    <option value="{{tr}}">{{tr}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="state_year_bl_end" class="form-label">Ending Year</label>
                                                <select class="form-select form-select-sm" id="state_year_bl_end"
                                                    name="state_year_bl_end">
                                                    {% for tr in 2001|range:2022 %}
                                                    <option value="{{tr}}">{{tr}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row groupBox_state">
                                            <h3>Comparison period</h3>
                                            <div class="col-md-6 mb-3">

                                                <label for="state_year_tg_start" class="form-label">Starting
                                                    Year</label>
                                                <select class="form-select form-select-sm" name="state_year_tg_start"
                                                    id="state_year_tg_start">
                                                    {% for tr in 2001|range:2022 %}
                                                    <option value="{{tr}}">{{tr}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="state_year_tg_end" class="form-label">Ending Year</label>
                                                <select class="form-select form-select-sm" id="state_year_tg_end"
                                                    name="state_year_tg_end">
                                                    {% for tr in 2001|range:2022 %}
                                                    <option value="{{tr}}">{{tr}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <br />

                <div class="row">
                    <div class="col-md-11 mb-3">
                        <button type="button" class="btn btn-danger" id="btn_execute">SCHEDULE EXECUTION</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="tab-pane fade border" id="nav-perm" role="tabpanel" aria-labelledby="nav-perm-tab"
        style="padding-top: 10px;">
        <iframe src="/ajax/job/results/{{script.id}}" id="iframe" frameborder="0" scrolling="yes"></iframe>
    </div>
    <div class="tab-pane fade border" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab"
        style="padding: 10px;">
        <div class="row">
            <div class="col-md-11">
                <div class="section" id="sdg-indicator-15-3-1">
                    <span id="indicator-15-3-1"></span>
                    <h1>Land productivity</h1>
                    <p>
                        Land productivity is the biological productive capacity of the land, the source of all the food,
                        fiber and fuel that sustains humans (United Nations Statistical Commission 2016). Net primary
                        productivity (NPP) is the net amount of carbon assimilated after photosynthesis and autotrophic
                        respiration over a given period of time (Clark et al. 2001) and is typically represented in
                        units such as kg/ha/yr. NPP is a variable time consuming and costly to estimate, for that
                        reason, we rely on remotely sensed information to derive indicators of NPP.
                    </p>

                    <p>One of the most commonly used surrogates of NPP is the Normalized Difference Vegetation Index
                        (NDVI), computed using information from the red and near infrared portions of the
                        electromagnetic spectrum. In Trends.Earth we make use of bi-weekly products from MODIS and AVHRR
                        to compute annual integrals of NDVI (computed as the mean annual NDVI for simplicity of
                        interpretation of results). These annual integrals of NDVI are then used to compute each of the
                        productivity indicators explained below.
                        <a href="https://trends.earth/docs/en/background/understanding_indicators15.html#productivity">
                            More information on the Productivity SDG 15.3.1 sub-indicator
                        </a>
                    </p>
                    <p>
                        Land productivity is assessed in Trends.Earth using three measures of change derived from NDVI
                        time series data:
                    <ul>
                        <li>Trajectory</li>
                        <li>Performance</li>
                        <li>State</li>
                    </ul>
                    </p>
                    <label>Productivity Trajectory</label>
                    <p>
                        Trajectory measures the rate of change in primary productivity over time. Trends.Earth computes
                        a linear regression at the pixel level to identify areas experiencing changes in primary
                        productivity for the period under analysis. A Mann-Kendall non-paremetric significance test is
                        then applied, considering only significant changes those that show a p-value ≤ 0.05. Positive
                        significant trends in NDVI would indicate potential improvement in land condition, and negative
                        significant trends potential degradation.
                        <a
                            href="https://trends.earth/docs/en/background/understanding_indicators15.html#productivity-trajectory">
                            More information on Productivity Trajectory
                        </a>
                    </p>
                    <label>
                        Productivity State
                    </label>
                    <p>
                        The Productivity State indicator allows for the detection of recent changes in primary
                        productivity as compared to a baseline period. The indicator is computed as follows:
                    <ol>
                        <li>Define the baseline period (historical period to which to compare recent primary
                            productivity).</li>
                        <li>Define the comparison period (recent years used to compute comparison). It is recommended to
                            use
                            a 3-year to avoid annual fluctuations related to climate.</li>
                        <li>
                            For each pixel, use the annual integrals of NDVI for the baseline period to compute a
                            frequency
                            distribution. In case the baseline period missed some extreme values in NDVI, add 5% on both
                            extremes of the distribution. That expanded frequency distribution curve is then used to
                            define
                            the cut-off values of the 10 percentile classes.
                        </li>
                        <li>
                            Compute the mean NDVI for the baseline period, and determine the percentile class it belongs
                            to.
                            Assign to the mean NDVI for the baseline period the number corresponding to that percentile
                            class. Possible values range from 1 (lowest class) to 10 (highest class).
                        </li>
                        <li>
                            Compute the mean NDVI for the comparison period, and determine the percentile class it
                            belongs
                            to. Assign to the mean NDVI for the comparison period the number corresponding to that
                            percentile class. Possible values range from 1 (lowest class) to 10 (highest class).
                        </li>
                        <li>Determine the difference in class number between the comparison and the baseline period
                            (comparison minus baseline).</li>
                        <li>
                            If the difference in class between the baseline and the comparison period is ≤ 2, then that
                            pixel could potentially be degraded. If the difference is ≥ 2, that pixel would indicate a
                            recent improvement in terms of primary productivity. Pixels with small changes are
                            considered
                            stable.
                        </li>
                    </ol>
                    <a
                        href="https://trends.earth/docs/en/background/understanding_indicators15.html#productivity-state">More
                        information on Productivity State</a>
                    </p>
                    <label>
                        Productivity Performance
                    </label>
                    <p>
                        The Productivity Performance indicator measures local productivity relative to other similar
                        vegetation types in similar land cover types or bioclimatic regions throughout the study area.
                        Trends.Earth uses the unique combination of soil units (soil taxonomy units using USDA system
                        provided by SoilGrids at 250m resolution) and land cover (full 37 land cover classes provided by
                        ESA CCI at 300m resolution) to define this areas of analysis. The indicator is computed as
                        follows:
                    <ol>
                        <li> Define the analysis period, and use the time series of NDVI to compute mean the NDVI for
                            each
                            pixel.
                        </li>
                        <li>
                            Define similar ecologically similar units as the unique intersection of land cover and soil
                            type.
                        </li>
                        <li>
                            For each unit, extract all the mean NDVI values computed in step 1, and create a frequency
                            distribution. From this distribution determine the value which represents the 90th
                            percentile
                            (we don’t recommend using the absolute maximum NDVI value to avoid possible errors due to
                            the
                            presence of outliers). The value representing the 90th percentile will be considered the
                            maximum
                            productivity for that unit.
                        </li>
                        <li>
                            Compute the ratio of mean NDVI and maximum productivity (in each case compare the mean
                            observed
                            value to the maximum for its corresponding unit).
                        </li>
                        <li>
                            If observed mean NDVI is lower than 50% than the maximum productivity, that pixel is
                            considered
                            potentially degraded for this indicator.
                        </li>
                    </ol>
                    <a
                        href="https://trends.earth/docs/en/background/understanding_indicators15.html#productivity-performance">
                        More information on Productivity Performance
                    </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/events.js' %}"></script>
<script>
    $(document).ready(function () {
        $("input[name=radio_lpd_jrc]").on("change", function () {
            if ($(this).val() == "TE") {
                $("#advanced_panel").show();
            } else {
                $("#advanced_panel").hide();
            }
        });
        $("#trajectory_indicator").on("change", function () {
            $.get({
                url: "/ajax/get/climate_dataset?algo=productivity&indicator=" + $(this).val(),
                success: function (response) {
                    $("#traj_climate").empty();
                    $("#traj_climate").append(response);
                }
            })
        });

        $("#groupBox_state").on("change", function () {
            if ($(this).is(":checked")) {
                $(".groupBox_state").show();
            } else {
                $(".groupBox_state").hide();
            }
        });

        $("#groupBox_traj").on("change", function () {
            if ($(this).is(":checked")) {
                $(".groupBox_traj").show();
            } else {
                $(".groupBox_traj").hide();
            }
        });

        $("#groupBox_perf").on("change", function () {
            if ($(this).is(":checked")) {
                $(".groupBox_perf").show();
            } else {
                $(".groupBox_perf").hide();
            }
        });

        $("#btn_execute").on("click", function () {
            let formData = new FormData();
            formData.append("csrfmiddlewaretoken", "{{csrf_token}}");
            if ($("#radio_lpd_te").is(":checked")) {
                formData.append("prod_mode", 'Trends.Earth productivity');

            } else {
                formData.append("prod_mode", 'JRC LPD');
            }
            formData.append("trajectory_indicator", $("#trajectory_indicator").val());
            formData.append("traj_climate", $("#traj_climate").val());
            formData.append("calc_traj", $("#groupBox_traj").is(":checked"));
            formData.append("calc_perf", $("#groupBox_perf").is(":checked"));
            formData.append("calc_state", $("#groupBox_state").is(":checked"));
            formData.append("prod_traj_year_initial", +$("#traj_year_initial").val());
            formData.append("prod_traj_year_final", +$("#traj_year_final").val());
            formData.append("prod_perf_year_initial", +$("#perf_year_initial").val());
            formData.append("prod_perf_year_final", +$("#perf_year_final").val());
            formData.append("prod_state_year_bl_start", +$("#state_year_bl_start").val());
            formData.append("prod_state_year_bl_end", +$("#state_year_bl_end").val());
            formData.append("prod_state_year_tg_start", +$("#state_year_tg_start").val());
            formData.append("prod_state_year_tg_end", +$("#state_year_tg_end").val());
            formData.append("ndvi_dataset", $("#ndvi_dataset").val());
            formData.append("algo", "productivity");
            formData.append("runmode", "REMOTE");
            formData.append("task_name", $("#execution_name").val());
            formData.append("task_notes", $("#task_notes").val());
            $.ajax({
                url: "/ajax/run/job",
                type: "POST",
                dataType: "json",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    // $('#iframe').attr('src', function (i, val) { return val; });
                    // $("#aggregationDefinitionModal .btn-close").click()
                    $("#messages-list").removeClass("msg-white");
                    $("#messages-list").addClass("msg-dark");
                    const messages = document.getElementById("messages-list");
                    messages.innerHTML += response.msg;

                    $("#messages-list").fadeOut(2000, "swing", function () {
                        messages.innerHTML = "";
                        $("#messages-list").show();
                        $("#messages-list").removeClass("msg-black");
                        $("#messages-list").addClass("msg-white");
                    });
                }
            });
        });
    });
</script>