<!-- Remote Soil organic carbon -->
{% load static %}
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-new-tab" data-bs-toggle="tab" data-bs-target="#nav-new" type="button"
            role="tab" aria-controls="nav-new" aria-selected="true">
            <i class="fa fa-plus-circle"></i>
            New Job
        </button>
        <button class="nav-link" id="nav-perm-tab" data-bs-toggle="tab" data-bs-target="#nav-perm" type="button"
            role="tab" aria-controls="nav-perm" aria-selected="false">
            <i class="fa fa-list"></i>
            View Jobs</button>
        <button class="nav-link" id="nav-info-tab" data-bs-toggle="tab" data-bs-target="#nav-info" type="button"
            role="tab" aria-controls="nav-info" aria-selected="false">
            <i class="fa fa-info-circle"></i>
            About</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade border show active" id="nav-new" role="tabpanel" aria-labelledby="nav-new-tab"
        style="padding: 10px;">
        <div class="row">
            <form method="post" id="login-form">
                {% csrf_token %}
                <div class="row border">
                    <div class="col-md-6 mb-3">
                        <label for="initial_year_de" class="form-label">Initial Year</label>
                        <select class="form-select form-select-sm" name="initial_year_de" id="initial_year_de">
                            {% for year in years %}
                            <option value="{{year}}">{{year}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="target_year_de" class="form-label">Target Year</label>
                        <select class="form-select form-select-sm" name="target_year_de" id="target_year_de">
                            {% for year in years %}
                            {% if year == current_year %}
                            <option value="{{year}}" selected>{{year}}</option>
                            {% else %}
                            <option value="{{year}}">{{year}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="border">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label>Aggregation Method</label>
                            <button type="button" class="btn btn-outline-success" id="btn_editAggregation"
                                data-bs-toggle="modal" data-bs-target="#aggregationDefinitionModal">
                                <i class="fa fa-edit"></i> Edit definition</button>
                        </div>
                        <div class="col-md-12 mb-3">
                            <h3>Current region</h3>
                            <label id="aoi_lbl">{{aoi.name}}</label>
                            <input type="hidden" name="aoi_id" id="aoi_id" value="{{aoi.id}}">
                            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                                data-bs-target="#aoiModal">
                                <i class="fa fa-edit"></i> Change Region</button>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12  mb-3">
                            <label class="form-label">Execution Name</label>
                            <input type="text" class="form-control" name="execution_name" id="execution_name"
                                placeholder="Execution Name" autofocus="" autocapitalize="none">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12  mb-3">
                            <label class="form-label">Notes</label>
                            <textarea class="form-control" id="task_notes" name="task_notes" rows="3"></textarea>
                        </div>
                    </div>
                </div>


                <div class="row border">
                    <div class="col-md-12">
                        <div class="accordion" id="accordionAdvanced">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingAdvanced">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseAdvanced" aria-expanded="true"
                                        aria-controls="collapseAdvanced">
                                        Advanced configuration
                                    </button>
                                </h2>
                                <div id="collapseAdvanced" class="accordion-collapse collapse hide"
                                    aria-labelledby="headingAdvanced" data-bs-parent="#accordionAdvanced">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h3>Climate regime</h3>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="climate_regime"
                                                        id="fl_radio_default" checked value="default">
                                                    <label class="form-check-label" for="fl_radio_default">
                                                        Default (determined per-pixel using global climate data)
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="climate_regime"
                                                        id="fl_radio_chooseRegime" value="regime">
                                                    <label class="form-check-label" for="fl_radio_chooseRegime">
                                                        Specify regime
                                                    </label>
                                                </div>
                                                <select class="form-select form-select-sm"
                                                    name="fl_chooseRegime_comboBox" id="fl_chooseRegime_comboBox"
                                                    style="max-width: 300px; display: none;">
                                                    <option value="0.8">Temperate dry (Fl = 0.80)</option>
                                                    <option value="0.69">Temperate moist (Fl = 0.69)</option>
                                                    <option value="0.58">Tropical dry (Fl = 0.58)</option>
                                                    <option value="0.48">Tropical moist (Fl = 0.48)</option>
                                                    <option value="0.64">Tropical montane (Fl = 0.64)</option>
                                                </select>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="climate_regime"
                                                        id="fl_radio_custom" value="custom">
                                                    <label class="form-check-label" for="fl_radio_custom">
                                                        Custom value
                                                    </label>
                                                </div>
                                                <input type="text" class="form-control" name="fl_custom_lineEdit"
                                                    id="fl_custom_lineEdit" placeholder="" autofocus=""
                                                    autocapitalize="none" style="max-width: 300px; display: none;">
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h3>Additional files to download</h3>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox"
                                                        id="download_annual_lc">
                                                    <label class="form-check-label" for="download_annual_lc">
                                                        Download annual land cover layers (only first and last land
                                                        cover layer are downloaded by default)
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox"
                                                        id="custom_soc_path">
                                                    <label class="form-check-label" for="custom_soc_path">
                                                        Custom initial soil organic carbon dataset
                                                    </label>
                                                </div>
                                                <select class="form-select form-select-sm" name="comboBox_custom_soc"
                                                    id="comboBox_custom_soc" style="display: none;">

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <br />

                <div class="row">
                    <div class="col-md-11 mb-3">
                        <button type="button" class="btn btn-danger" id="btn_execute">SCHEDULE EXECUTION</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="tab-pane fade border" id="nav-perm" role="tabpanel" aria-labelledby="nav-perm-tab"
        style="padding-top: 10px;">
        {% include 'job/jobs.html' %}
    </div>
    <div class="tab-pane fade border" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab"
        style="padding: 10px;">
        <div class="row">
            <div class="col-md-11">
                <div class="section" id="sdg-indicator-15-3-1">
                    <span id="indicator-15-3-1"></span>
                    <h1>Soil Organic Carbon</h1>

                    <p>
                        The third sub-indicator for monitoring land degradation as part of the SDG process quantifies
                        changes in soil organic carbon (SOC) over the reporting period. Changes in SOC are particularly
                        difficult to assess for several reasons, some of them being the high spatial variability of soil
                        properties, the time and cost intensiveness of conducting representative soil surveys and the
                        lack of time series data on SOC for most regions of the world. To address some of the
                        limitations, a combined land cover/SOC method is used in Trends.Earth to estimate changes in SOC
                        and identify potentially degraded areas. The indicator is computed as follows:
                    <ol>
                        <li>

                            Determine the SOC reference values. Trends.Earth uses SoilGrids 250m carbon stocks for the
                            first 30 cm of the soil profile as the reference values for calculation (NOTE: SoilGrids
                            uses information from a variety of data sources and ranging from many years to produce this
                            product, therefore assigning a date for calculations purposes could cause inaccuracies in
                            the stock change calculations).
                        </li>
                        <li>

                            Reclassify the land cover maps to the 7 land cover classes needed for reporting to the UNCCD
                            (forest, grassland, cropland, wetland, artificial area, bare land and water). Ideally annual
                            land cover maps are preferred, but at least land cover maps for the starting and end years
                            are needed.
                        </li>
                        <li>

                            To estimate the changes in C stocks for the reporting period C conversion coefficients for
                            changes in land use, management and inputs are recommended by the IPCC and the UNCCD.
                            However, spatially explicit information on management and C inputs is not available for most
                            regions. As such, only land use conversion coefficient can be applied for estimating changes
                            in C stocks (using land cover as a proxy for land use). The coefficients used were the
                            result of a literature review performed by the UNCCD and are presented at the <a
                                target="_blank"
                                href="http://trends.earth/docs/en/background/understanding_indicators15.html#soil-organic-carbon">
                                Trends.Earth website</a>.
                            Those coefficients represent the proportional in C stocks after 20 years of land cover
                            change.
                            Changes in SOC are better studied for land cover transitions involving agriculture, and for
                            that reason there is a different set of coefficients for each of the main global climatic
                            regions: Temperate Dry (f = 0.80), Temperate Moist (f = 0.69), Tropical Dry (f = 0.58),
                            Tropical Moist (f = 0.48), and Tropical Montane (f = 0.64).
                        </li>
                        <li>
                            Compute relative different in SOC between the baseline and the target period, areas which
                            experienced a loss in SOC of 10% of more during the reporting period will be considered
                            potentially degraded, and areas experiencing a gain of 10% or more as potentially improved.
                        </li>
                    </ol>
                    </p>

                    <a href="http://trends.earth/docs/en/background/understanding_indicators15.html#soil-organic-carbon"
                        target="_blank">
                        <p>More information on the Soil Organic Carbon SDG 15.3.1 sub-indicator</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $("input[name=climate_regime]").on("change", function () {
            if ($(this).val() == "regime") {
                $("#fl_custom_lineEdit").hide();
                $("#fl_chooseRegime_comboBox").show();

            } else if ($(this).val() == "custom") {
                $("#fl_custom_lineEdit").show();
                $("#fl_chooseRegime_comboBox").hide();
            } else {
                $("#fl_custom_lineEdit").hide();
                $("#fl_chooseRegime_comboBox").hide();
            }
        });

        $("#custom_soc_path").on("change", function () {
            if ($(this).is(":checked")) {
                $("#comboBox_custom_soc").show();
            } else {
                $("#comboBox_custom_soc").hide();
            }
        });

        $("#btn_execute").on("click", function () {
            let formData = new FormData();
            formData.append("csrfmiddlewaretoken", "{{csrf_token}}");
            if ($("#fl_radio_default").is(":checked")) {
                formData.append("climate_regime", "per pixel");
            }

            if ($("#fl_radio_chooseRegime").is(":checked")) {
                formData.append("climate_regime", +$("#fl_chooseRegime_comboBox").val());
            }

            if ($("#fl_radio_custom").is(":checked")) {
                formData.append("climate_regime", +$("#fl_custom_lineEdit").val());
            }
            formData.append("download_annual_lc", $("#download_annual_lc").is(":checked"));
            formData.append("algo", "soil-organic-carbon");
            formData.append("runmode", "REMOTE");
            formData.append("task_name", $("#execution_name").val());
            formData.append("task_notes", $("#task_notes").val());
            formData.append("initial_year_de", +$("#initial_year_de").val());
            formData.append("target_year_de", +$("#target_year_de").val());
            formData.append("aoi_id", +$("#aoi_id").val());
            $.ajax({
                url: "/ajax/run/job",
                type: "POST",
                dataType: "json",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    showMessage(response.msg, "success");
                },
                error: function (response) {
                    showMessage(response.responseJSON.msg, "danger");
                }
            });
        });
    });
</script>