<!-- Carbon change spatial layers -->

{% load static %}
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-new-tab" data-bs-toggle="tab" data-bs-target="#nav-new" type="button"
            role="tab" aria-controls="nav-new" aria-selected="true">
            <i class="fa fa-plus-circle"></i>
            New Job
        </button>
        <button class="nav-link" id="nav-perm-tab" data-bs-toggle="tab" data-bs-target="#nav-perm" type="button"
            role="tab" aria-controls="nav-perm" aria-selected="false">
            <i class="fa fa-list"></i>
            View Jobs</button>
        <button class="nav-link" id="nav-info-tab" data-bs-toggle="tab" data-bs-target="#nav-info" type="button"
            role="tab" aria-controls="nav-info" aria-selected="false">
            <i class="fa fa-info-circle"></i>
            About</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade border show active" id="nav-new" role="tabpanel" aria-labelledby="nav-new-tab"
        style="padding: 10px;">
        <div class="row">
            <form method="post" id="login-form">
                {% csrf_token %}
                <div class="border">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Period</h3>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="use_hansen" id="use_hansen"
                                    checked>
                                <label class="form-check-label" for="use_hansen">
                                    Hansen et. al. Global Forest Change product (30m resolution)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">

                            <label for="year_initial" class="form-label">Initial Year</label>
                            <select class="form-select form-select-sm" name="year_initial" id="year_initial">
                                {% for year in years %}
                                <option value="{{year}}">{{year}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="year_final" class="form-label">Target Year</label>
                            <select class="form-select form-select-sm" name="year_final" id="year_final">
                                {% for year in years %}
                                {% if year == current_year %}
                                <option value="{{year}}" selected>{{year}}</option>
                                {% else %}
                                <option value="{{year}}">{{year}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label" for="fc_threshold">Percentage tree cover considered forest</label>
                            <div class="input-group">
                                <input type="number" value="1" min="0" max="100" class="form-control validate-num-input"
                                    id="fc_threshold" name="fc_threshold">
                                <span class="input-group-text" style="height: 36px;">%</span>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <h3>Current region</h3>
                            <label id="aoi_lbl">{{aoi.name}}</label>
                            <input type="hidden" name="aoi_id" id="aoi_id" value="{{aoi.id}}">
                            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                                data-bs-target="#aoiModal">
                                <i class="fa fa-edit"></i> Change Region</button>
                        </div>
                    </div>
                </div>

                <div class="border">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Execution Name</h3>
                            <input type="text" class="form-control" name="execution_name" id="execution_name"
                                placeholder="Execution Name" autofocus="" autocapitalize="none">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h3>Notes</h3>
                            <textarea class="form-control" id="task_notes" name="task_notes" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row border">
                    <div class="col-md-12">
                        <div class="accordion" id="accordionAdvanced">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingAdvanced">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseAdvanced" aria-expanded="true"
                                        aria-controls="collapseAdvanced">
                                        Advanced configuration
                                    </button>
                                </h2>
                                <div id="collapseAdvanced" class="accordion-collapse collapse show"
                                    aria-labelledby="headingAdvanced" data-bs-parent="#accordionAdvanced">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3>Aboveground biomass dataset</h3>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="biomass_data"
                                                        id="radioButton_carbon_woods_hole" value="woodshole" checked>
                                                    <label class="form-check-label" for="radioButton_carbon_woods_hole">
                                                        Woods Hole Research Center (30 m resolution)
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="biomass_data"
                                                        id="radioButton_carbon_geocarbon" value="geocarbon">
                                                    <label class="form-check-label" for="radioButton_carbon_geocarbon">
                                                        GEOCARBON (1 km resolution, global)
                                                    </label>
                                                </div>
                                                <div class="form-check" style="display: none;">
                                                    <input class="form-check-input" type="radio" name="biomass_data"
                                                        id="radioButton_carbon_custom" value="custom">
                                                    <label class="form-check-label" for="radioButton_carbon_custom">
                                                        Custom dataset
                                                    </label>
                                                    <select class="form-select form-select-sm" name="combo_layer_traj"
                                                        id="combo_layer_traj">
                                                        <option></option>
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <h3>Method for calculation of root to shoot ratio</h3>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="method"
                                                        id="radioButton_rootshoot_mokany" checked value="mokany">
                                                    <label class="form-check-label" for="radioButton_rootshoot_mokany">
                                                        Mokany et al. 2006
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="method"
                                                        id="radioButton_rootshoot_ipcc" value="ipcc">
                                                    <label class="form-check-label" for="radioButton_rootshoot_ipcc">
                                                        IPCC
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-md-11 mb-3">
                        <button type="button" class="btn btn-danger" id="btn_execute">SCHEDULE EXECUTION</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="tab-pane fade border" id="nav-perm" role="tabpanel" aria-labelledby="nav-perm-tab"
        style="padding-top: 10px;">
        {% include 'job/jobs.html' %}
    </div>
    <div class="tab-pane fade border" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab"
        style="padding: 10px;">
        <div class="row">
            <div class="col-md-11">
                <div class="section" id="sdg-indicator-15-3-1">
                    <span id="indicator-15-3-1"></span>
                    <h1>Change in Total Carbon</h1>

                    <p>
                        Algorithm for calculation above and below ground emissions from deforestation
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $("input[type=number]").on("keyup", function () {
            var inputVal = +$(this).val();
            if ($(this).hasClass("validate-num-input")) {
                if (inputVal <= 0) {
                    $(this).val(0);
                } else if (inputVal > 100) {
                    $(this).val(100);
                } else {
                    $(this).val(parseFloat($(this).val()));
                }

            }
        });
        $("#btn_execute").on("click", function () {
            let formData = new FormData();
            formData.append("csrfmiddlewaretoken", "{{csrf_token}}");
            formData.append("algo", "total-carbon");
            formData.append("runmode", "REMOTE");
            formData.append("task_name", $("#execution_name").val());
            formData.append("task_notes", $("#task_notes").val());
            formData.append("year_initial", +$("#year_initial").val());
            formData.append("year_final", +$("#year_final").val());
            formData.append("aoi_id", +$("#aoi_id").val());
            formData.append("fc_threshold", +$("#fc_threshold").val());
            formData.append("method", $("input[name=method]").val());
            formData.append("biomass_data", $("input[name=biomass_data]").val());
            $.ajax({
                url: "/ajax/run/job",
                type: "POST",
                dataType: "json",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    showMessage(response.msg, "success");
                },
                error: function (response) {
                    showMessage(response.responseJSON.msg, "danger");
                }
            });
        });
    });
</script>