{% extends 'core/index.html' %}

{% block title %} Trends Earth {% endblock %}

{% load static %}

{% block content %}
<div class="col-flex">
    <div class="row border" style="padding: 0px 10px;">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="algorithm_children" class="form-label">Select Indicator</label>
                <span class="required">*</span>
                <select class="form-select form-select-sm" id="algorithm_children">
                    {% for child in children %}
                    <option value="{{child.id}}">{{child.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6 mb-3">
                <label for="run_mode" class="form-label">Run Mode</label>
                <span class="required">*</span>
                <select class="form-select form-select-sm" id="run_mode">
                </select>
            </div>
        </div>
    </div>
    <div class="row" style="padding: 5px 0px;" id="algorithm_body">

    </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $(".active").removeClass("active");
        $("#item_{{id}}").addClass("active");

        $("#nav-new-tab").addClass("active");
        $("#nav-new").addClass("active");

        let algorithm_id = +$("#algorithm_children").val();
        let runmode = +$("#run_mode").val();
        $.get("/ajax/algorithm/" + algorithm_id + "/runmode/" + runmode, function (response, status) {
            $("#algorithm_body").empty();
            $("#algorithm_body").append(response);
        });

        $("#algorithm_children").on("change", function () {
            algorithm_id = +$("#algorithm_children").val();
            $.get("/ajax/algorithm/" + algorithm_id + "/runmode", function (response, status) {
                let runmodes = response.runmodes;
                runmode = 0;
                if (runmodes.length > 0) {
                    runmode = runmodes[0].id;
                }
                $("#run_mode").empty();
                $("#run_mode").append(response.options);
                $.get("/ajax/algorithm/" + algorithm_id + "/runmode/" + runmode, function (response, status) {
                    $("#algorithm_body").empty();
                    $("#algorithm_body").append(response);
                });
            });
        });
        $("#run_mode").on("change", function () {
            let runmode = +$(this).val();
            let algorithm_id = +$("#algorithm_children").val();
            $.get("/ajax/algorithm/" + algorithm_id + "/runmode/" + runmode, function (response, status) {
                $("#algorithm_body").empty();
                $("#algorithm_body").append(response);
            });
        });
    });
</script>
{% endblock %}