{% extends 'base.html' %}

{% block title %} Trends Earth {% endblock %}

{% load static %}

{% block content %}

<div id="map">

</div>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script>
    $(document).ready(function () {
        var mainView = new ol.View({
            center: [0, 0],
            minZoom: 1,
            maxZoom: 20,
            zoom: 3,
        });

        var mainMap = new ol.Map({
            controls: [],
            target: "map",
            view: mainView,
        });

        var baseLayer = new ol.layer.Tile({
            name: "Base Map",
            source: new ol.source.TileImage({
                url: "https://c.tile.openstreetmap.org/{z}/{x}/{y}.png",
            }),
        });

        // Add the base layer to the maps
        mainMap.addLayer(baseLayer);
    });
</script>
{% endblock %}