.row-flex,
html,
body {
  margin: 0;
  min-height: 100vh;
}

#main{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.loader {
  position: fixed;
  opacity: 0.7;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../assets/images/loader.gif) 50% 50% no-repeat
    rgb(249, 249, 249);
}

.row-flex {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.col-flex {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.header {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  padding: 15px 10px !important;
  padding: 8px;
  text-align: left;
  border-bottom: 2px solid #dc3545;
  
}

.header h1{
  color: #fff;
  font-size: 30px !important;
}

.header .logo-div{
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  background-color: #fff; 
  margin-left: 0px; 
  padding-left:5px;;
  
}

.footer {
  color: #ffffff;
  text-align: center;
  margin-top: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
  max-width: 300px;
  width: 300px !important;
  min-width: 300px;
  overflow: hidden !important;
  /* background-color: rgba(28, 38, 61, 0.8); */
  background: linear-gradient(to bottom, rgba(0,0,0, 0.8), rgba(28, 38, 61, 0.8)) !important;
  transition: 1s;
}

.sidebar li{
  list-style: none;
}

.sidebar .menu-items{
  cursor: pointer;
}

.sidebar h3 {
  color: #fff;
  padding: 5px 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.sidebar .div-item{
  display: block;
  color: #fff !important;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-size: 14px;
  padding: 5px 26px;
  text-decoration: none !important;
  font-weight: 500;
  margin-top: 2px;
}

.sidebar a {
  display: block;
  color: #fff !important;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-size: 14px;
  padding: 5px 26px;
  text-decoration: none !important;
  font-weight: 500;
  margin-top: 2px;
}

.sidebar a.active {
  background-color: #DC3545;
  color: #ffffff;
  box-shadow: inset 5px 0 #09FF8C;
}

.sidebar a:hover:not(.active) {
  border-color: #bb2d3b;
  background: #bb2d3b;
  color: #ffffff;
}

div.content {
  padding: 1px 16px;
  height: 1000px;
}

.user-photo{
  margin-top: -5px; 
  cursor: pointer;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-bottom: 0px;
  border: 2px solid #fff;
}

.navbar {
  position: relative;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-image: none !important;
  border-bottom: 1px solid #dee2e6 !important;
}

.navbar-nav li {
  list-style-type: none;  
}

.nav-link {
  display: block;
  padding: 0.3rem 1rem;
}

.nav-tabs .nav-link {
  color: #fff;
  line-height: 1.8;
  background-color: #273146;
  margin: 0px 2px;
}

.nav-tabs .nav-link.active {
  background-color: #DC3545;
  color: #ffffff;
}


.bg-light {
  background-color: #ffffff !important;
}

.badge {
  font-size: 10px;
  padding: 2px 5px;
  margin-right: -2px;
  cursor: pointer;
}

.badge-danger {
  color: #fff;
  background-color: #ed4757;
}

.fa-bell{
  font-size: 20px; 
  margin-top: 5px; 
  cursor: pointer;
  color: #fff;
}

.btn-circle {
  min-width: 30px !important;
  max-width: 30px !important;
  max-height: 30px !important;
  padding: 6px 0px !important;
  border-radius: 15px !important;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  outline: 0 !important;
  margin-top: 0px;
  color: #fff;
}

.avatar-image-button[data-v-65945167] {
  outline: 0 !important;
}

.main {
  padding: 0px;
}

.card {
  /* margin-bottom: 1rem !important; */
  cursor: pointer;
  border-radius: 5px;
}

.card-body {
  text-align: center;
}

.card h1 {
  font-weight: 700 !important;
  margin: 0 !important;
  font-size: 1.8rem;
  line-height: 0.7;
  color: #ffffff;
  text-align: center;
}

.card h6 {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
}

.card img {
  width: 40%;
  margin: 15%;
}

.card .col-md-4 {
  background-color: rgba(25, 135, 84, 1);
  border-radius: 5px 0px 0px 5px;
}

.card .col-md-8 {
  background-color: rgba(25, 135, 84, 0.9);
  border-radius: 0px 5px 5px 0px;
}

.step-row-flex {
  flex-direction: row;
}

.basic-search .form-control {
  max-width: 300px !important;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 3px !important;
}

.select2-container--default .select2-selection--single {
  min-height: 30px !important;
  margin: 0px !important;
  margin-right: 0px !important;
  min-width: 100%;
}

.select2-container .select2-selection--multiple {
  min-height: 43px !important;
  border-radius: 0px;
  margin: 0px !important;
  margin-right: 0px !important;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice,
.select2-container--classic
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: rgba(25, 135, 84, 0.9);
  border: 1px solid rgba(25, 135, 84, 1);
  color: #ffffff;
  border-radius: 0px;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove,
.select2-container--classic
  .select2-selection--multiple
  .select2-selection__choice__remove {
  color: #ffffff !important;
}

small, .small {
  font-size: 80%;
  font-weight: 400;
  margin-right: 3px;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-color: rgba(0, 0, 0, 0.125);
  border-style: solid;
  border-width: 1px;
}

thead th,
tfoot th {
  color: #212529;
  font-size: 16px;
}

#task_tbl td{
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  line-height: 140% !important;
  letter-spacing: -.3px!important;
  margin: 0!important;
  font-size: 13px!important;
  font-weight: 400;
}

#task-table_wrapper {
  padding: 0px !important;
}

.btn-link {
  font-weight: 400;
  color: #3397e1;
  text-decoration: none;
}

.btn-link i {
  text-align: center;
  width: 1.25em;
}

.mb-3 select,
.mb-3 input[type="text"],
.mb-3 input[type="number"] {
  min-height: 35px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
  border-color: red;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

.tab-pane{
  border-top: 5px solid #dc3545 !important; 
}

.tab h2 {
  margin-left: 20px;
  font-size: 24px;
  text-align: center;
}

#nextBtn,
#prevBtn,
#saveBtn {
  width: 100px;
  color: #fff;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04aa6d;
}

.required {
  color: red;
  font-weight: 900;
}

.doc-browse,
.doc-view,
.doc-delete {
  cursor: pointer;
}

#task_tbl,
#users_tbl td {
  cursor: pointer;
}

.selected {
  background-color: aquamarine;
}

#btn_add_user,
#btn_add_scheme {
  color: #ffffff;
  text-decoration: unset;
}

.workflows .card-body,
td .card-body {
  text-align: left !important;
}

.format-label {
  font-weight: 800;
  text-align: right;
  display: block;
}

.form-label {
  font-weight: 600;
}

#holders_tbl_panel {
  overflow-x: auto;
  max-width: 90vw !important;
}

.btn .view {
  color: #ffffff !important;
  padding: 0px 10px !important;
  height: 20px !important;
  margin: 0px !important;
  line-height: 2px !important;
}

.btn-group button,
.btn-group a {
  min-width: 100px;
  color: #fff;
}

/****
** Certificates **
**/
.certificates table.dataTable tr th.select-checkbox.selected::after {
  content: "✔";
  margin-top: -11px;
  margin-left: -4px;
  text-align: center;
  text-shadow: rgb(176, 190, 217) 1px 1px, rgb(176, 190, 217) -1px -1px,
    rgb(176, 190, 217) 1px -1px, rgb(176, 190, 217) -1px 1px;
}

.certificates table.dataTable thead th.select-checkbox {
  position: relative;
}
.certificates table.dataTable thead th.select-checkbox:before,
.certificates table.dataTable thead th.select-checkbox:after {
  display: block;
  position: absolute;
  top: 1.2em;
  left: 50%;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.certificates table.dataTable tbody td.select-checkbox:before,
.certificates table.dataTable thead th.select-checkbox:before {
  content: " ";
  margin-top: -6px;
  margin-left: -6px;
  border: 1px solid black;
  border-radius: 3px;
}
/***/

/***
** Data tables **

***/
td.details-control {
  background: url("/static/assets/images/details_open.png") no-repeat center
    center;
  cursor: pointer;
}
tr.details td.details-control {
  background: url("/static/assets/images/details_close.png") no-repeat center
    center;
}

/****/

.accordion-item h2 {
  font-weight: 500 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  font-size: 1.25rem;
  line-height: 1.2;
}

.accordion-item .accordion-button {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

.accordion-button {
  background-color: #e7f1ff;
}

.breadcrumb {
  font-size: 0.875em;
  margin-bottom: 0;
  border-bottom: 0;
}

.border{
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}
.border-top {
  border-top: 1px solid #dee2e6 !important;
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #fff;
  border-radius: 0.125em;
}
.breadcrumb-item {
  display: flex;
}
.breadcrumb-item.active {
  color: #000;
}
.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem;
}

/* form errors and request messages and alerts */
.badge-light {
  margin-top: 2.5em;
}
.errorlist {
  list-style: none;
  padding-left: 0px;
  opacity: 0.8;
  color: #dc3545;
  font-size: 12px;
}
.msg {
  margin: 0 !important;
  margin-bottom: 4px !important;
  margin-top: 4px !important;
}
.messages {
  z-index: 100;
  position: fixed;
  right: 2em;
  margin-top: 0px;
  list-style: none;
  text-align: right; 
}

.msg-dark{
  color: #fff;
  padding: 13px;
  border-radius: 5px;
  background-color: #000;
}

.msg-white{
  color: red;
  background-color: transparent;
}

.alert {
  margin-top: 1rem;
}
.alert-error {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}

.alert-info{
  color: #ffffff;
}

.section p{
  font-size: 13px;
}

/**
*** The matrix table
**/

.matrix-table{
  width: 100%;
}

.matrix-table th, .matrix-table td{
  padding: 1px;
  
}

.matrix-table input{
  min-width: 30px !important;
  width: inherit !important;
  max-width: 80px !important;
  padding: 5px !important;
  text-align: center;
  font-weight: 600 !important;
}

.matrix-table .degradation {
  border: 1px solid gray; 
  background: #9b2779;
  color: #fff;
}

.matrix-table .improvement {
  color: #fff;
  border: 1px solid gray; 
  background: #006500;
}

.matrix-table .stable {
  border: 1px solid gray; 
  background: #FFFFE0;
}

#aggregationDefinitionModal .modal-dialog{
  min-width: 60vw;
}


iframe{
  min-height:650px;
  width:100%;
}

@media (max-width: 768px) {
  .sidebar {
    width: 200px;
    min-width: 200px;
  }
  .user-photo{
    margin-top: 0px;
    margin-left: 0px;
  }
}

.accordion-item h2 {
  font-weight: 500 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  font-size: 1.25rem;
  line-height: 1.2;
}

.accordion-item .accordion-button {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  color: #000 !important;
}

.accordion-button {
  background-color: #fff !important;
  color: #000 !important
}