

body {
  clear: both;
  background-color: #fff;
  width: 100% !important;

}

.row-flex,
html,
body {
  margin: 0;
  min-height: 100vh;
}

.row-flex {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.col-flex {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.container-fluid{
  margin: 0px !important;
  padding: 0px !important;
}

#map{
  min-height: calc(100vh - 25px);
  border-right: 1px solid rgba(0, 0, 0, 0.2); 
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.col-md-3, .col-md-4, .col-md-8, .col-md-9{
  padding: 0px !important;
  margin: 0px !important;

}
#side-panel {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 300px !important;
  min-width: 300px;
  margin: 0px !important;
  padding: 0px !important;
  min-height: 100vh;
  background-color: rgba(28, 38, 61, 0.8);
  border: 1px solid #F60404;
  overflow: hidden !important;
  transition: 1s;
}

#side-panel .welcome-div{
  font-weight: 700; 
  font-size: 20px; 
  letter-spacing: 2px;
  padding-top: 30px;
  background-color: #fff;
  border-bottom: 4px solid #dc3545;
}

#side-panel a{
  color: #ffffff;
}

#side-panel .about{
  padding: 10px;
  color: #ffffff;
  font-size: 14px;
}

.row{
  margin: 0px;
  padding-left: 0px;
}


.row .bottom{
  width: 80% !important;
  margin: auto;
}


.form-label {
  font-size: 18px;
  font-weight: 300;  
}


.btn {
  width: 100% !important;
  font-size: 18px !important;
  font-weight: 300 !important;
  color: #fff !important;
}


input[type="submit"]{
  background-color: #dc3545;
}

span.help {
  font-size: 10px;
  display: block;
}

.group {
  display: table;
  width: 100%;
}

.line {
  border-bottom: 1px solid #ccc;
  position: relative;
  top: -1em;
}
.item {
  display: table-cell;
}
.item {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  line-height: 60px;
}

.text {
  white-space: nowrap;
  width: 1%;
  padding: 0 10px;
  font-size: 18px;
}


.error {
  color: #a94442;
}

/**
Control buttons
**/

.menu_panel{
  position: absolute;
  z-index: 108;
  top: 10px;
  right: 10px;
  transition: margin-left 0.25s;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.menu-bar_menu {
  margin: 0 5px 5px 5px;
  list-style: none;
  padding-left: 0;
  display: block !important;
}
.menu-bar_menu-item {
  pointer-events: auto;
  position: relative;
  display: block;
  float: left;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-right: 1px;
}

.menu-bar_menu-item:first-child>div>button,
.menu-bar_menu-item:first-child>div>a
{
  border-radius: 16px 0 0 16px;
}

.menu-bar_menu-item:last-child>div>button,
.menu-bar_menu-item:last-child>div>a
{
  border-radius: 0px 16px 16px 0px;
}

.btn-menu-item {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border-radius: 16px;
  font-size: .8125rem;
  padding: 5px;
  min-height: 32px;
  font-family: "Nunito",sans-serif;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100px;
  border-width: 0px;
}

.btn-menu-item:hover, .btn-menu-item:focus{
  color: rgb(255, 255, 255);
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-menu-item i {
  height: 15px;
  width: 15px;
  vertical-align: middle;
  display: inline-block;
  margin: auto 5px;
  margin-left: 7px;
  margin-right: 3px;
}

.menu-carret{
  background: #1C263D;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  position: absolute;
  top: -10px;
  z-index: -1;
  right: 38px;
  transform: rotate(45deg);
}

.dropdown a{
  text-decoration: none;

}
.dropdown-menu{
  transform-origin: 228px top !important;
  transform: scale(1) translateZ(0) !important;
  background: #1C263D;
  min-width: 350px !important;
  margin-top: 10px !important;
  color: #ffffff;
}

/****
Forms
****/

.required{
  color: red;
  font-weight: 900;
}

#login-form{  
  margin-top: 1px;
  margin-bottom: auto;
  max-width: 350px !important;
}

#login-form label, #login-form span{
  color: #fff;
}

#registration-form{
  min-width: 500px !important;
}

#registration-form input{
  min-width: 200px !important;
}



/* form errors and request messages and alerts */
.badge-light {
  margin-top: 2.5em;
}
.errorlist {
  list-style: none;
  padding-left: 0px;
  opacity: 0.8;
  color: #dc3545;
  font-size: 12px;
}
.msg {
  margin: 0 !important;
  margin-bottom: 4px !important;
  margin-top: 4px !important;
}
.messages {
  z-index: 100;
  position: fixed;
  right: 20em;
  margin-top: 0px;
  list-style: none;
  text-align: right; 
}

.msg-dark{
  color: #fff;
  padding: 13px;
  border-radius: 5px;
  background-color: #000;
}

.msg-white{
  color: #000;
  background-color: #fff;
}

.alert {
  margin-top: 1rem;
}
.alert-error {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}

.alert-info{
  color: #ffffff;
}

/****/

@media(max-width: 780) {
  .menu-carret{
    left: 38px;
  }
}


.footer{
  background-color: rgba(0, 0, 0, 0.7); 
  height: 25px; 
  font-size :11px; 
  color: #fff; 
  line-height: 25px;
}